<!-- Feelesate Top Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo><span class="navbar-brand">Feelestate</span></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect href="#">Home</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Customer<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/dashboard">Dashboard</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/form">Form</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light disabled" mdbWavesEffect href="#" >Settings</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect href="#">About</a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Feelestate Top Navbar-->
